.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper a:link {
  color: inherit;
  text-decoration: none;
}

.wrapper a:visited {
  color: inherit;
  text-decoration: none;
}

.wrapper a:hover {
  color: inherit;
  text-decoration: none;
}

.wrapper a:active {
  color: inherit;
  text-decoration: none;
}

.wrapper .icon {
  position: relative;
  background: transparent;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  background: #fafafa;
  color: #fafafa;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fafafa;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip,
.wrapper .icon:active .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip,
.wrapper .icon:active .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .home:hover,
.wrapper .home:active {
  color: #c97a7e;
}

.wrapper .home:hover .tooltip,
.wrapper .home:hover .tooltip::before,
.wrapper .home:active .tooltip,
.wrapper .home:active .tooltip::before {
  background: #c97a7e;
  color: #fafafa;
}

.wrapper .hearthside:hover,
.wrapper .hearthside:active {
  color: #c97a7e;
}

.wrapper .hearthside:hover .tooltip,
.wrapper .hearthside:hover .tooltip::before,
.wrapper .hearthside:active .tooltip,
.wrapper .hearthside:active .tooltip::before {
  background: #c97a7e;
  color: #fafafa;
}

.wrapper .discord:hover,
.wrapper .discord:active {
  color: #5865f2;
}

.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before,
.wrapper .discord:active .tooltip,
.wrapper .discord:active .tooltip::before {
  background: #5865f2;
  color: #fafafa;
}

.wrapper .youtube:hover,
.wrapper .youtube:active {
  color: #fd3333;
}

.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before,
.wrapper .youtube:active .tooltip,
.wrapper .youtube:active .tooltip::before {
  background: #fd3333;
  color: #fafafa;
}

.wrapper .docker:hover,
.wrapper .docker:active {
  color: #2497ed;
}

.wrapper .docker:hover .tooltip,
.wrapper .docker:hover .tooltip::before,
.wrapper .docker:active .tooltip,
.wrapper .docker:active .tooltip::before {
  background: #2497ed;
  color: #fafafa;
}

.wrapper .github:hover,
.wrapper .github:active {
  color: #6c757d;
}

.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before,
.wrapper .github:active .tooltip,
.wrapper .github:active .tooltip::before {
  background: #6c757d;
  color: #fafafa;
}
