* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

a:link {
  color: #8fbcd4;
  text-decoration: none;
}

a:visited {
  color: #c97ab5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
  place-items: center;
  color: #fafafa;
  background-color: #24292f;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fafafa;
  background-color: #24292f;
}

.quote {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3em;
  font-weight: 600;
}

.tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.buttons {
  margin: 1.5rem 0;
  padding-bottom: 45px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
  place-items: center;
  color: #fafafa;
  background-color: #24292f;
}

main .row {
  margin: 1.5rem;
}

main h1 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2em;
  font-weight: 600;
}

main .icon {
  position: relative;
  background: transparent;
  border-radius: 50%;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main p {
  margin: 1.5rem;
}

.column-1 {
  margin: auto;
  width: 66.66%;
}

.column-2 {
  float: left;
  width: 50%;
}

.column-3 {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column-1 {
    width: 100%;
  }

  .column-2 {
    width: 100%;
  }

  .column-3 {
    width: 100%;
  }
}
